@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

:root {
  --info: linear-gradient(90deg, #1B9BFC 0%, rgba(31, 109, 169, 0.47) 52.6%, rgba(32, 96, 145, 0) 98.44%);
  --red: linear-gradient(90deg, #fc1b1b 0%, rgba(169, 52, 31, 0.47) 52.6%, rgba(145, 32, 32, 0) 98.44%);
  --grey: linear-gradient(90deg, #353535 0%, rgba(51, 51, 51, 0.47) 52.6%, rgba(109, 109, 109, 0)98.44%);
  --green: linear-gradient(90deg, #48ff00 0%, rgba(9, 204, 2, 0.47) 52.6%, rgba(0, 199, 43, 0)98.44%);
}

html,
body {
  padding: 0;
  margin: 0;
  background: transparent;
  
  text-transform: uppercase;
}

#notifications {
  margin-top: 2rem;
  margin-left: 1rem;
}

.notification {
  margin-bottom: 1rem;
  width: 339px;
  min-height: 81px;
  height: auto;

  padding-left: 1rem;
  transform: matrix(1, -0.09, 0, 1, 0, 0);
}

.notification-title p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  
  display: flex;
  align-items: center;
  text-align: center;

  padding-top: 1rem;

  color: #fff
}

#message {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: left;

  color: #FFFFFF;

  padding-bottom: 0.5rem;
}